<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fit5120.monash.edu.features.searchingService.LocationMapper">
    <select id="getAllServicesLocation" resultType="fit5120.monash.edu.entity.Location">
        SELECT
            *
        FROM location
    </select>

    <select id="selectLocationById" resultType="fit5120.monash.edu.entity.Location">
        select *
        from location
        where id = #{id}
    </select>
</mapper>