<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fit5120.monash.edu.features.searchingService.LocationMapper">
    <select id="getAllServicesLocation" resultType="fit5120.monash.edu.entity.Location">
        SELECT
            *
        FROM location;
    </select>

    <select id="selectLocationById" resultType="fit5120.monash.edu.entity.Location">
        select *
        from location
        where id = #{id};
    </select>

    <insert id="addNewLocation" parameterType="fit5120.monash.edu.entity.Location">
        insert into location (
            address, suburb, state, postcode, accessibilityOption, openTime, latitude, longitude
        ) values(
            #{address}, #{suburb}, #{state}, #{postcode}, #{accessibilityOption}, #{openTime}, #{latitude}, #{longitude}
        );
    </insert>


    <select id="selectLocationByDistance" resultType="fit5120.monash.edu.entity.Location">
        SELECT
            id,
            latitude,
            longitude,
            (
                6371000 * 2 * ASIN(
                    SQRT(
                        POWER(SIN(RADIANS(latitude - #{latitude}) / 2), 2) +
                        COS(RADIANS(#{latitude})) * COS(RADIANS(latitude)) *
                        POWER(SIN(RADIANS(longitude - #{longitude}) / 2), 2)
                    )
                )
            ) AS distance
        FROM location
        HAVING distance &lt;= 100
        ORDER BY distance asc
        limit 1;

    </select>



</mapper>